* {
  margin: 0;
  padding: 0;
}
img {
  border-radius: 50%;
}

header {
  color: #060606;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
}

.nav-content {
  list-style: none;
  display: flex;
  
}

.nav-content li {
   margin: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

.label {
  display: none;
  background: none;
  border: none;
  color: #060606;
  font-size: 30px;
  cursor: pointer;
}

.burger-menu {
  display: none;
}
@media (max-width: 600px) {
  .nav-content {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
   
    text-align: center;
  }

  .nav-content li {
    margin: 10px 0;
  }

  .label {
    display: block;
  }

  .burger-menu:checked ~ .nav-content {
    display: grid;
    grid-template-columns: 1;
  }
}
